*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}
header{
    background-color: black;
    height:70px;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height:100%;
}
header .container{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;

}
#logowrapper{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:1rem;
}
#logo{
    height: 60px;
    width:60px;
}
#logotext{
    font-size: 24px;
    color:white;
}
#navlist{
    list-style: none;
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:2rem;
}
#navlist a{
    color:white;
    text-decoration: none;
}
h1{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.section1 .container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:4rem;
}
.section1content{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}
   

#avatar{
    width:50%;
    
   
}
.mainbutton{
    display: inline-block;
    background-color: palevioletred;
    color: black;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 2rem;
    margin-top: 2rem;

}
footer{
    background-color: aqua;
    height:18rem;
}
h4{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    
    

}
